---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {% assign postsByDay = site.posts | group_by_exp:"post", "post.date | date: '%B %e, %Y'" %}

      {% for day in postsByDay %}

        <li>
      
	  <h4 class="post-meta">{{ day.name }}</h4>
	  <ul>
	    {% for post in day.items %}
	      <li>
		<a href="{{ post.url | relative_url }}">
		  {{ post.title | escape }}
		</a>
	      </li>
	    {% endfor %}
	  </ul>  

	</li>

      {% endfor %}

    </ul>

  {%- endif -%}

  {{ content }}

</div>
